:root {
  /* Extra small devices (phones, 600px and down) */
  --x-small-screen: 600px;

  /* Small devices (portrait tablets and large phones, 600px and up) */
  --small-screen: 640px;

  /* Medium devices (landscape tablets, 768px and up) */
  --mid-screen: 768px;

  --midlarge-screen: 950px;

  /* Large devices (laptops/desktops, 992px and up) */
  --large-screen: 1280px;

  --container: 1200px;
}
